/* roughcustom.css */
.navbar-left, .body, .navbar-right{
    text-align: center;
    background-color: darkslateblue; 
    float: left;
    height: 400px;
    width: 21%;
    margin: 2%;
}

body{
    background-color: dimgrey;
}

.body{
    width: 46%;
}

.container{
    width: 100%;
    overflow: hidden;
}

table {
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    text-align: center;
    width:500px;
    margin: 10px auto;
}

footer {
	padding: 1em 20%;
	margin: 0 0 0 0;
    border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
}